<div class="container">
  <h1>Track Visualizer</h1>
  <svg
    viewBox="-60 -50 100 100"
    preserveAspectRatio="xMidYMid meet"
    xmlns:svg="http://www.w3.org/2000/svg"
  >
    @for (tracker of tracks; track $index) {
      <svg:g>
        <svg:circle
          [attr.cx]="tracker.x"
          [attr.cy]="tracker.y"
          r="1"
          fill="green"
          stroke="black"
          stroke-width="0.1"
        />
      </svg:g>
    }
  </svg>
  <div>
    {{ connectionMessage }}
  </div>
  <button (click)="connectToWebSocket()">Connect</button>
</div>
