.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  h1 {
    margin: 20px 0;
  }

  svg {
    width: 80%;
    height: 80%;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }
}
